extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    each person in persons
      p CPR: #{person.cpr}
      p Current penalties: #{person.currentpenalties}
      p Email: #{person.email}
      p Firstname: #{person.firstname}
      p Middlename: #{person.middlename}
      p Lastname: #{person.lastname}
      p Newsletter: #{person.newsletter}
      p Password: #{person.password}